
margin: 0;
padding: 0;
body{
    background-color: rgb(184, 159, 230);
    color: white;
}

.cabecalho-imagem{
    width: 100%;
}

.cabecalho{
    background-color: rgb(204, 172, 216);
    color: azure;
    display: flex;
    justify-content: sspace-around;
    align-items: center;
    pdding:24px 0;
}

.cabecalho-lista-item[
    display:inline-block;
    margin:0 16px;
    font-size: 24px;
]










